{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/contactus.css'%}?v={{ version_number }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    

   
    <form name="formcontact" action="" method="post">
      {%csrf_token%}
     
        <h2>Contacting</h2>
        <a href="{%url 'home'%}"><i class="fa-solid fa-house"></i>    Go Back</a>
        <div class="menu">
          <label>Subject</label>
          <input type="text"  required="required" name="Subject">

          <label >Content</label>
          <textarea required="required" name="Content"></textarea> 
          
        
    
        <button type="submit" >Send</button>
        
        </div>
    
       
     </form>
    

</body>
</html>