<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/tmp.css">
</head>
<body >
<div class="wrap">


    <div class="page">
        <div class="forms">
            <form name="form1" method="post" action="">
           
                <h2>Create Project</h2>
                <input type="hidden" name="form_name" value="form1">
                <input type="text" name="name" id="" maxlength="15">
                <button class="submit">Create</button>
               </form>
    
    
               <form name="form2" method="post" action="">
                
                <h2>Join Current Project </h2>
                <label for="URL:"></label>
                <input type="hidden" name="form_name" value="form2">
                <input type="hidden" name="decoded_url" id="decoded_url">
                <input type="text" name="urltxt" placeholder="URL:" >
                <button id="sbmt1" type="submit">Join</button>
             </form>
        </div>
    </div>
</div>
</body>
</html>