<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/tmp2.css">
</head>
<body>

    <section class="page">

        <div class="slider">
            <div id="slide1" class="cards">
                <div class="cards-container">
                    <h3>Slide 1</h3>
                    <p>Slide 1 content goes here.</p>
                </div>
            </div>
            <div id="slide2" class="cards">
                <div class="cards-container">
                    <h3>Slide 2</h3>
                    <p>Slide 2 content goes here.</p>
                </div>
            </div>
            <div id="slide3" class="cards">
                <div class="cards-container">
                    <h3>Slide 2</h3>
                    <p>Slide 2 content goes here.</p>
                </div>
            </div>
        </div>

        <div class="slider-nav">
            <a href="#slide1" class="control" data-slide="1"></a>
            <a href="#slide2" class="control" data-slide="2"></a>
            <a href="#slide3" class="control" data-slide="2"></a>
        </div>

    </section>

    <div class="footer">
        <footer>
            <div class="div1">
                <a href="">Contact</a>
                <a href="">Feedback</a>
                <a href="">Add ticket</a>
            </div>
            <div><p>&copy; 2023 TMsystem. All rights reserved.</p></div>
        </footer>
    </div>
</body>
</html>
